body.light-mode body {
    background-color: var(--cor-branco);
  }
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--cor-fundo);
}
footer .line{
    background: linear-gradient(0deg, var(--cor-principal), var(--cor-secundaria));
    width: 100%;
    height: 2px;
}
body.light-mode footer{
    background-color: var(--cor-branco);

}

footer .copyright p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--cor-principal);
    font-size: 1rem;
    font-family: var(--regular);
    padding: 20px 30px;
}
footer .copyright p span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--cor-branco);
    font-size: 0.9rem;
    font-family: var(--regular);
    opacity: 0.7;
}
body.light-mode footer .copyright p span{
    color: var(--cor-fundo);
}
@media screen and (max-width: 700px) {
    footer .copyright p {
        font-size: 0.9rem;
    }
    footer .copyright p span{
        font-size: 0.7em;
    }
}