.toggle {
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
    padding: 0;
  }
  
  .toggle input {
    opacity: 0;
    position: absolute;
  }
  
  .toggle input:checked+.label .dark{
    transform: translateX(1.6rem);
    opacity: 0;
  }
    .toggle input:checked+.label .light{
      opacity: 1;
      visibility: visible;
    }

  
  .toggle input:checked+.label {
    background: var(--cor-branco);
  }
  body.light-mode   .toggle input:checked+.label {
    border: 1px solid var(--cor-principal);
  }
  
  .toggle .label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, var(--cor-principal), var(--cor-secundaria));
    width: 60px;
    border-radius: 2rem;
    padding: 0 0.3rem;
    cursor: pointer;
    transition: all 0.5s;
    margin: 0 10px 10px 0;
  }

  
  .toggle .label .light{
    transition: all 1s;
    opacity: 0;
    overflow: hidden;
    z-index: 3;
  }
  .toggle .label .dark{
    transition: all 0.3s;
    z-index: 2;
  }

/*Responsivo*/
  @media (max-width: 700px) {
    .toggle .label {
        width: 4rem
    }
}