body.light-mode body {
    background-color: var(--cor-branco);
  }
section.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-fundo);
    width: 100%;
    max-width: 100%;
    padding: 50px 20px;
}
body.light-mode section.projects {
    background-color: var(--cor-branco);
}
section.projects h3{
    color: var(--cor-principal);
    font-size: 2rem;
    font-family: var(--bold);

}
section.projects .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-fundo);
    width: 100%;
    max-width: 100%;
}
body.light-mode section.projects .projects {
    background-color: var(--cor-branco);
}
section.projects .myprojects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


section.projects .myprojects h3 {
    justify-content: center;
    align-items: center;
    font-family: var(--bold);
    font-size: 2rem;
    color: var(--cor-branco);
    position: relative;
    display: inline-block;
    margin-block: 10px 5px;
}
body.light-mode section.projects .myprojects h3 {
    color: var(--cor-fundo);
}

section.projects .myprojects h3::after {
    content: "";
    display: block;
    position: absolute;
    width: 70%;
    height: 5px;
    border-radius: 20px;
    margin-top: 10px;
    background-image: linear-gradient(90deg, #8257E6 0%, #A40EE4 92.32%);
}

section.projects .myprojects .cards-projects {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

section.projects .myprojects .cards-projects .box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 70px 0 0 0;
    transition: all 0.3s;
    min-width: 30%;
}
section.projects .myprojects .cards-projects .box a .bg {
    position: absolute;
    width: 100%;
    max-width: 300px;
    height: 8px;
    background-image: linear-gradient(90deg, #8257E6 0%, #A40EE4 92.32%);
    z-index: 1;
    border-radius: 0 0 2px 2px;
    
}

section.projects .myprojects .cards-projects .box  a img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: 300px;
    border: 1px solid var(--cor-fundo);
    border-bottom: 0 solid transparent;
    z-index: 5;
}
body.light-mode section.projects .myprojects .cards-projects .box  a img {
    border: var(--cor-branco);
}

section.projects .myprojects .cards-projects .box a:hover {
    transform: scale(1.2);
    box-shadow: 2px 2px 15px 2px var(--cor-principal);
    z-index: 3;
}

@media screen and (max-width: 1100px) {
    section.projects .myprojects .cards-projects {
        gap: 15px;
    }
    section.projects .myprojects .cards-projects .box {
        margin: 30px 0 0 0;
    }
}
@media screen and (max-width: 700px) {
    section.projects{
        padding: 40px 10px;
    }
    section.projects .myprojects .cards-projects {
        gap: 10px;
    }
    section.projects .myprojects .cards-projects .box a .bg {
        max-width: 150px;
        height: 6px;
        
    }
    section.projects .myprojects .cards-projects .box  a img {
        max-width: 150px;
        height: 150px;
        max-height: 150px;
    }
    
}