/* Essas são as variáveis para usar no site e ficar mais escalável a edição das coisas */
:root {
  --cor-branco: #F9F9F9;
  --cor-preto: #000000;
  --cor-principal: #8257E6;
  --cor-secundaria: #9a23cd;
  --cor-fundo: #13131F;
  --cor-fundo-2: #0f0f25;
  --cor-gradient: linear-gradient(90deg, #8257E6 0%, #A40EE4 92.32%);
  
  --regular: 'mark-pro-regular';
  --bold: 'mark-pro-bold';
}