section.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding: 50px 20px;
    background-image: url(../../../../../../../files/images/images-lp-travel/images/bg-travel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

section.text .image {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 50%;
    padding: 30px;
}
section.text .image img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 2px 5px 5px 5px #00002e8b;
    
}

section.text .context {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
    padding: 30px;
}
section.text .context h2 {
    color: var(--cor-fundo);
    font-family: var(--bold);
    font-size: 1.8rem;
    padding-bottom: 15px
}


section.text .context p {
    color: var(--cor-fundo);
    font-family: var(--regular);
    font-size: 1.5rem;
    padding-bottom: 15px;

}

section.text .context span {
    color: var(--cor-fundo);
    font-family: var(--bold);
    font-size: 1.8rem;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
}


/*RESPONSIVE*/

@media screen and (max-width: 1000px) {
    section.text {
        display: flex;
        flex-direction: column;
        padding: 30px 10px;
    }
    section.text .image {
        display:flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 100%;
        padding: 30px 15px;
    }
    section.text .context {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        padding: 30px 10px;
    }
    section.text .context h2 {
        font-size: 1.5rem;
        padding-bottom: 15px
    }
    section.text .context p {
        font-size: 1.2rem;
        padding-bottom: 15px;
    
    }
    section.text .context span {
        font-size: 1.5rem;
    }
}